<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/frontpage :: header"/>
<body id="page-top">

	<nav th:replace="common/frontpage :: navbar" />
	
	<div id="wrapper">
	
			<!-- Side Bar -->
			<ul th:replace="common/frontpage :: sidebar"/>
			
		 <div id="content-wrapper">
		 
		  <div class="container-fluid">
		  	<ol th:replace="common/frontpage :: mini-nav"/>
		  	
		  	  <ul class="nav navbar-nav navbar-right">
            <li>
            <a th:href="@{__${link}__}" class="btn btn-primary"  th:text="${forType}"></a>
            </li>
            </ul>
		  
		   <div class="card-header">Register a Patient</div>
        <div class="card-body">
          <form th:attrappend="action=${student == true}?@{/createStudentPatient}:@{/createStaffPatient}" th:object="${object}" method="post">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-4">
                  <div class="form-label-group">
                    <input type="text" id="lastName" th:field="*{lastName}" class="form-control" placeholder="Last name" required="required" autofocus="autofocus">
                    <label for="lastName">Last name</label>
                  </div>
                  <p th:if="${#fields.hasErrors('lastName')}"th:errors="*{lastName}" class="alert alert-danger"><br/></p>
                </div>
                <div class="col-md-4">
                  <div class="form-label-group">
                    <input type="text" id="firstName" th:field="*{firstName}" class="form-control" placeholder="First name" required="required">
                    <label for="firstName">First name</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-label-group">
                    <input type="text" id="middleName" th:field="*{middleName}" class="form-control" placeholder="Middle name" required="required">
                    <label for="middleName">Middle name</label>
                  </div>
                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
              <div class="col-md-4">
                  <div class="form-label-group">
                      <input type="email" id="inputEmail" th:field="*{email}" class="form-control" placeholder="Email address" required="required">
                      <label for="inputEmail">Email address</label>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="form-label-group">
                      <input type="text" id="inputPnum" th:field="*{phoneNumber}" class="form-control" placeholder="Phone Number" required="required">
                      <label for="inputPnum">Phone Number</label>
                  </div>
              </div>
              
              <div class="col-md-4">
                  <select class="form-control" th:field="*{gender}">
                      <option value="" selected disabled> Select Gender</option>
                        <option th:each="gender : ${genders}"
                        th:text="${gender.gender}"
                        th:value="${gender}">1</option>
                      </select>
          </div>

         
				
				<!-- <div class="col-md-2">
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
				  <label class="form-check-label" for="exampleRadios2">
				    Second default radio
				  </label>
				</div>
				</div> -->
				
              </div> <!-- End of First Row -->
            </div>

            <div class="form-group">
              <div class="form-row">
                <div class="col-md-4">
                  <div class="form-label-group">
                    <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" class="form-control" placeholder="Date of Birth" required="required">
                    <label for="dateOfBirth">Date of Birth</label>
                  </div>
                </div>
                <div class="col-md-4" th:if="${student==true}">
                  <div class="form-label-group">
                    <input type="text" id="matric_number" th:field="*{matricNumber}" class="form-control" placeholder="Matric Number" required="required">
                    <label for="matric_number">Matric Number</label>
                  </div>
                </div>
                <div class="col-md-4" th:if="${staff==true}">
                    <div class="form-label-group">
                      <input type="text" id="staffId" th:field="*{staffNumber}"class="form-control" placeholder="Staff ID" required="required">
                      <label for="staffId">Staff ID</label>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-label-group">
                      <input type="text" id="department" th:field="*{deparment}" class="form-control" placeholder="Department" required="required">
                      <label for="department">Department</label>
                    </div>
                  </div>
              </div><!--End Of Row 3-->
            </div>

              <div class="form-group">
                <div class="form-row"><!--Row 4-->

                  <div class="col-md-4"  th:if="${student==true}">
                    <div class="form-label-group">
                      <input type="text" id="faculty" th:field="*{faculty}" class="form-control" placeholder="faculty" required="required">
                      <label for="faculty">Faculty</label>
                    </div>
                  </div>

                  <div class="col-md-4"  th:if="${student==true}">
                          <select class="form-control" th:field="*{level}">
                          <option value="" selected disabled> Select Level</option>
                            <option th:each="level : ${levels}"
                            th:text="${level.level}"
                            th:value="${level}"></option>
                          </select>
                    </div>

                    <div class="col-md-4"  th:if="${staff==true}">
                        <select class="form-control" th:field="*{staffCategory}">
                        <option value=""  selected disabled> Select Staff Type</option>
                          <option th:each="category : ${categories}"
                          th:text="${category.staffCategory}"
                          th:value="${category}"></option>
                        </select>
                  </div>

                  <div class="col-md-4"  th:if="${staff==true}">
                      <div class="form-label-group">
                        <input type="text" id="rank" th:field="*{rank}" class="form-control" placeholder="rank" required="required">
                        <label for="rank">Rank</label>
                      </div>
                    </div>

                    <div class="col-md-4">
                        <select class="form-control" th:field="*{maritalStatus}">
                            <option value="" selected disabled> Select Marital Status</option>
                              <option th:each="status : ${maritalStatus}"
                              th:text="${status.maritalStatus}"
                              th:value="${status}">1</option>
                            </select>
                </div>

              </div> <!--End of row 4-->
            </div>

              <div class="form-group">
                <div class="form-row"> <!--Row 5-->

                    <div class="col-md-4">
                        <div class="form-label-group">
                          <input type="text" id="state" th:field="*{stateOfOrigin}" class="form-control" placeholder="State of Origin" required="required">
                          <label for="state">State of Origin</label>
                        </div>
                      </div>

                      <div class="col-md-4">
                          <div class="form-label-group">
                            <input type="text" id="LGA" th:field="*{LGAOfOrigin}" class="form-control" placeholder="Local Goverment Area of Origin" required="required">
                            <label for="LGA">Local Goverment Area of Origin</label>
                          </div>
                        </div>

                        <div class="col-md-4"  th:if="${staff==true}">
                            <select class="form-control" th:field="*{staffType}">
                            <option value=""  selected disabled> Select Staff Type</option>
                              <option th:each="type : ${types}"
                              th:text="${type.staffType}"
                              th:value="${type}"></option>
                            </select>
                      </div>

                </div><!--End of row 5-->
              </div>

              <hr>
              <h5>Home Address</h5>

              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-2">
                    <div class="form-label-group">
                        <input type="text" id="houseNumber" th:field="*{homeAdress.houseNumber}" class="form-control" placeholder="House Number" required="required">
                        <label for="houseNumber">House Number</label>
                    </div>    
                  </div>

                  <div class="col-md-6">
                    <div class="form-label-group">
                        <input type="text" id="streetName" th:field="*{homeAdress.streetName}" class="form-control" placeholder="Street Name" required="required">
                        <label for="streetName">Street Name</label>
                    </div>
                 </div>

                  <div class="col-md-2">
                    <div class="form-label-group">
                        <input type="text" id="addressCity" th:field="*{homeAdress.addressCity}" class="form-control" placeholder="City" required="required">
                        <label for="addressCity">City</label>
                    </div>  
                  </div>

                  <div class="col-md-2">
                    <div class="form-label-group">
                        <input type="text" id="addressState" th:field="*{homeAdress.addressState}" class="form-control" placeholder="State" required="required">
                        <label for="addressState">State</label>
                    </div>
                  </div>

                </div>
              </div>

              <!--Campus address-->
              <div class="form-group"  th:if="${student==true}">
                
              <hr>
              <h5>Campus Address</h5>
                <div class="form-row">
                  <div class="col-md-6">
                      <div class="form-label-group">
                          <input type="text" id="roomNumber" th:field="*{campusAddress.roomNumber}" class="form-control" placeholder="Room Number" required="required">
                          <label for="roomNumber">Room number</label>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="form-label-group">
                          <input type="text" id="hallname" th:field="*{campusAddress.hallName}" class="form-control" placeholder="Hall Name" required="required">
                          <label for="hallname">Hall Name</label>
                      </div>
                  </div>
                </div>
              </div>

              <!--Office Block-->
              <div class="form-group"  th:if="${staff==true}">
                
                  <hr>
                  <h5>Office Block</h5>
                    <div class="form-row">
                      <div class="col-md-6">
                          <div class="form-label-group">
                              <input type="text" id="officeBlock" th:field="*{officeBlock}" class="form-control" placeholder="Office Block" required="required">
                              <label for="officeBlock">Office Block</label>
                          </div>
                      </div>
                    </div>
                  </div>

              <hr>
              <h5>Emergency Contact</h5>
              <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-label-group">
                            <input type="text" id="contactName" th:field="*{emergencyContact}" class="form-control" placeholder="Contact Name" required="required">
                            <label for="contactName">Contact Name</label>
                        </div>
                    </div>
  
                    <div class="col-md-3">
                        <div class="form-label-group">
                            <input type="text" id="cPNum" th:field="*{phoneNumberOfEmergencyContact}" class="form-control" placeholder="Contact Phone Number" required="required">
                            <label for="cPNum">Contact Phone Number</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-label-group">
                            <input type="text" id="contactEmail" class="form-control" placeholder="Contact Email">
                            <label for="contactEmail">Contact Email</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-label-group">
                            <input type="text" id="rship2Contact" th:field="*{relationshipToEmergencyContact}" class="form-control" placeholder="Relationship" required="required">
                            <label for="rship2Contact">Relationship</label>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-2">
                        <div class="form-label-group">
                            <input type="text" id="chouseNumber" th:field="*{adressOfEmergencyContact.contactHouseNumber}" class="form-control" placeholder="House Number" required="required">
                            <label for="chouseNumber">House Number</label>
                        </div>    
                      </div>
    
                      <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" id="cstreetName" th:field="*{adressOfEmergencyContact.contactStreetName}" class="form-control" placeholder="Street Name" required="required">
                            <label for="cstreetName">Street Name</label>
                        </div>
                     </div>
    
                      <div class="col-md-2">
                        <div class="form-label-group">
                            <input type="text" id="caddressCity" th:field="*{adressOfEmergencyContact.contactAddressCity}" class="form-control" placeholder="City" required="required">
                            <label for="caddressCity">City</label>
                        </div>  
                      </div>
    
                      <div class="col-md-2">
                        <div class="form-label-group">
                            <input type="text" id="caddressState" th:field="*{adressOfEmergencyContact.contactAddressState}" class="form-control" placeholder="State" required="required">
                            <label for="caddressState">State</label>
                        </div>
                      </div>
    
                    </div>
                  </div>

                  <hr>
                  <h5>Medical Information</h5>
                  <div class="form-group">
                    <div class="form-row">

                        <div class="col-md-4">
                            <select class="form-control" th:field="*{bloodgroup}">
                                <option value="" selected disabled> Select Blood Group</option>
                                  <option th:each="bg : ${bloodGroups}"
                                  th:text="${bg.bloodGroup}"
                                  th:value="${bg}">1</option>
                                </select>
                        </div>

                        <div class="col-md-4">
                            <select class="form-control" th:field="*{Genotype}">
                                <option value="" selected disabled> Select Genotype</option>
                                  <option th:each="genotype : ${genotypes}"
                                  th:text="${genotype.genotype}"
                                  th:value="${genotype}">1</option>
                                </select>
                        </div>
                        <div class="col-md-2">
                          <textarea class="form-control" th:field="*{allergies}" name="" id="" cols="30" rows="10" placeholder="Allergies"></textarea>
                        </div>
                        <div class="col-md-2">
                            <textarea class="form-control" th:field="*{medicalConditions}"  name="" id="" cols="30" rows="10" placeholder="Conditions"></textarea>
                          </div>

                    </div>
                  </div>



            <button class="btn btn-primary text-center mt-5" type="submit">Register</button>
          </form>
        
        </div>
      </div>
		  
		  </div>
		 
		 	<footer th:replace="common/frontpage :: footer"/>
		 </div><!-- content-wrapper -->
	
	</div><!-- wrapper -->
	
	<!-- Stroll to top button -->
	<a th:replace="common/frontpage :: top-button"/>
	
	<!-- logout modal -->
	<div th:replace="common/frontpage :: logout-modal"/>
	
<div th:replace="common/frontpage :: scripts"/>
</body>
</html>